
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: 'Roboto', sans-serif;
        margin-top:26px;
    }
    h2 {
        text-align: center;
        font-weight: bold;
        margin-top: 26px;
    }

    h3 {
        font-size: 25px;
        text-decoration:underline;
    }
</style>

<div>
    <div>
        <h2>Resumen del Proyecto</h2>
        <h3>Web de Venta de Productos:</h3>
        <p>
            Este proyecto implementa una plataforma web de venta de productos desarrollada con ASP.NET MVC,
            utilizando una arquitectura de cuatro capas. Está diseñada para simular un entorno real de comercio
            electrónico, ofreciendo funciones clave como:
        </p>
        <ul>
            <li><strong>Autenticación y Gestión de Usuarios:</strong> Permite a los usuarios registrarse, iniciar sesión y gestionar sus perfiles con contraseñas encriptadas y gestión de sesiones seguras.</li>
            <li><strong>Búsqueda y Catálogo de Productos:</strong> Funcionalidad para buscar productos, ver detalles y añadirlos a la cesta de compra.</li>
            <li><strong>Lista de Deseos:</strong> Funcionalidad que permite a los usuarios guardar productos en una lista de deseos dentro de su perfil.</li>
            <li><strong>Carrito de Compras:</strong> Capacidad para gestionar pedidos a través de un carrito de compras.</li>
        </ul>

        <h3>Mantenimiento Web:</h3>
        <p>
            La plataforma incluye una zona administrativa para la gestión interna, con operaciones CRUD para mantener y administrar los datos esenciales del sistema. Además, la explicación de este proyecto se encuentra en la primera página de esta sección. Las funcionalidades incluyen:
        </p>
        <ul>
            <li><strong>Usuarios:</strong> Crear, Leer, Actualizar y Eliminar información de usuarios.</li>
            <li><strong>Categorías:</strong> Gestión completa de las categorías de productos.</li>
            <li><strong>Productos:</strong> Administración total del inventario de productos.</li>
            <li><strong>Marcas:</strong> Manejo de las diferentes marcas disponibles en la plataforma.</li>
        </ul>
        <p>
            También se han desarrollado dos gráficos para el análisis de datos:
        </p>
        <ul>
            <li>Porcentaje de productos por marca.</li>
            <li>Porcentaje de productos por categoría.</li>
        </ul>
        <p>
            La parte administrativa está diseñada utilizando Bootstrap para asegurar una interfaz responsiva y atractiva.
        </p>

        <h3>Tecnologías Utilizadas:</h3>
        <ul>
            <li><strong>ASP.NET MVC:</strong> Framework de desarrollo web para aplicaciones escalables y estructuradas bajo el patrón Modelo-Vista-Controlador.</li>
            <li><strong>Entity Framework:</strong> ORM (Object-Relational Mapping) para facilitar el acceso y manipulación de datos en SQL Server.</li>
            <li><strong>SQL Server:</strong> Sistema de gestión de base de datos para almacenar información crítica de usuarios y productos.</li>
            <li><strong>Bootstrap:</strong> Framework CSS utilizado para diseñar la parte administrativa de manera responsiva y atractiva.</li>
        </ul>

        <h3>Desarrollo Frontend</h3>
        <p>Además de la lógica y funcionalidades backend, todo el diseño y la interacción del frontend fueron implementados manualmente, incluyendo:</p>
        <ul>
            <li><strong>HTML:</strong> Estructura de las páginas web para asegurar accesibilidad y usabilidad.</li>
            <li><strong>CSS:</strong> Estilo y presentación de las páginas utilizando CSS para una interfaz atractiva y responsiva.</li>
            <li><strong>JavaScript:</strong> Implementación de lógica de cliente para mejorar la experiencia de usuario y funcionalidades dinámicas.</li>
        </ul>

        <p>
            Este proyecto refleja mis habilidades en el desarrollo de aplicaciones web y diseño de interfaces de usuario.
            Es un proyecto académico y de aprendizaje diseñado para mostrar mi capacidad técnica y creativa en el desarrollo de software, sin propósitos comerciales.
        </p>
    </div>
</div>

