
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Resumen del Proyecto: Web de Venta de Productos</h2>
    <p>
        Este proyecto implementa una plataforma web de venta de productos desarrollada con ASP.NET MVC,
        utilizando una arquitectura de cuatro capas. Está diseñada para simular un entorno real de comercio
        electrónico, ofreciendo funciones clave como:
    </p>
    <ul>
        <li>Autenticación y Gestión de Usuarios: Permite a los usuarios registrarse, iniciar sesión y gestionar sus perfiles con contraseñas encriptadas y gestión de sesiones seguras..</li>
        <li>Búsqueda y Catálogo de Productos: Funcionalidad para buscar productos, ver detalles y añadirlos a la cesta de compra.</li>
        <li>Lista de Deseos: Funcionalidad que permite a los usuarios guardar productos en una lista de deseos dentro de su perfil.</li>
        <li>Carrito de Compras: Capacidad para gestionar pedidos a través de un carrito de compras.</li>
        <li>Zona Administrativa: Incluye un panel administrativo con operaciones CRUD (Crear, Leer, Actualizar, Eliminar) para usuarios, categorías, productos y marcas.</li>
    </ul>
    <h3>Tecnologías Utilizadas:</h3>
    <ul>
        <li>ASP.NET MVC: Framework de desarrollo web para aplicaciones escalables y estructuradas bajo el patrón Modelo-Vista-Controlador.</li>
        <li>Entity Framework: ORM (Object-Relational Mapping) para facilitar el acceso y manipulación de datos en SQL Server.</li>
        <li>SQL Server: Sistema de gestión de base de datos para almacenar información crítica de usuarios y productos.</li>
    </ul>
    <h3>Desarrollo Frontend</h3>
    <p>Además de la lógica y funcionalidades backend, todo el diseño y la interacción del frontend fueron implementados manualmente, incluyendo:</p>
    <ul>
        <li>HTML: Estructura de las páginas web para asegurar accesibilidad y usabilidad.</li>
        <li>CSS: Estilo y presentación de las páginas utilizando CSS para una interfaz atractiva y responsiva.</li>
        <li>JavaScript: Implementación de lógica de cliente para mejorar la experiencia de usuario y funcionalidades dinámicas.</li>
    </ul>
    <p>Este proyecto refleja mis habilidades en el desarrollo de aplicaciones web y diseño de interfaces de usuario.
    Es un proyecto académico y de aprendizaje diseñado para mostrar mi capacidad técnica y creativa en el desarrollo de software, sin propósitos comerciales.</p>
</div>

