
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fa fa-users me-1"></i>Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" onclick="abrirModal(null)" class="btn btn-success">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Fecha Registro</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">USUARIO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="usuarioId" />
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="txtnombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombre">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtapellido" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtapellido">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtemail" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtemail">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtclave" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="txtclave">
                    </div>
                    <div class="col-sm-6">
                        <label for="cbActivo" class="form-label">Activo</label>
                        <select class="form-select" id="cbActivo">
                            <option value="1">Si</option>
                            <option value="0">No</option>

                        </select>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div id="modalAlert" class="alert alert-danger" role="alert">
                                A simple danger alert—check it out!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="guardarUsuario()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>

        var tabladata;
        var filaSeleccionada;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Nombres" },
                { "data": "Apellidos" },
                { "data": "Correo" },
                {
                    "data": "FechaRegistro",
                    "render": function (data, type, row) {

                        // Verifica si la fecha es mínima (significa que era nula en la base de datos)
                        if (moment(data).isSame(moment('0001-01-01T00:00:00Z'))) {
                            return "00/00/0000";
                        }
                        return moment(data).isValid() ? moment(data).format('DD/MM/YYYY') : "Fecha inválida";
                    }
                },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge text-bg-success">SI</span>'
                        } else {
                            return '<span class="badge text-bg-warning">NO</span>'
                        }

                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="far fa-trash-alt"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
        });

        function abrirModal(data) {
            if (data != null) {

                $('#usuarioId').val(data.IdUsuario);
                $('#txtnombre').val(data.Nombres);
                $('#txtapellido').val(data.Apellidos);
                $('#txtemail').val(data.Correo);
                $('#txtFecha').val(data.FechaRegistro);
                $('#txtclave').val(data.Clave);
                $('#cbActivo').val(data.Activo ? '1' : '0');
                $('#modalAlert').hide();

            } else {
                $('#usuarioId').val('');
                $('#txtnombre').val('');
                $('#txtapellido').val('');
                $('#txtemail').val('');
                $('#txtclave').val('');
                $('#txtFecha').val('');
                $('#cbActivo').val('1');

                $('#modalAlert').hide();

            }
            $('#modalAgregar').modal("show");
        }

        $('#tabla tbody').on("click", '.btn-editar', function () {
             filaSeleccionada = $(this).closest("tr")
            var data = tabladata.row(filaSeleccionada).data();

            $('#usuarioId').val(data.IdUsuario);
            $('#txtnombre').val(data.Nombres);
            $('#txtapellido').val(data.Apellidos);
            $('#txtemail').val(data.Correo);
            $('#cbActivo').val(data.Activo ? '1' : '0');


            abrirModal(data);
        })


        function guardarUsuario() {

            var idUsuario = $('#usuarioId').val();

            var usuario = {

                IdUsuario: idUsuario,  // Incluye IdUsuario en el objeto
                Nombres: $('#txtnombre').val(),
                Apellidos: $('#txtapellido').val(),
                Correo: $('#txtemail').val(),
                Clave: $('#txtclave').val(),
                Activo: $('#cbActivo').val() === '1'
            };
            var url = idUsuario ? '@Url.Action("ActualizarUsuario", "Home")' : '@Url.Action("AgregarUsuario", "Home")';

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(usuario),
                success: function (response) {
                    if (response.success) {
                        $('#modalAgregar').modal('hide');// Cierra el modal
                        alert(response.message)
                        tabladata.ajax.reload();// Recarga la tabla
                    } else {
                        $('#modalAlert').text(response.message);
                        $('#modalAlert').show();

                    }
                },
                error: function (xhr, status, error) {
                    alert('Error en la solicitud');
                    console.log("Error en la solicitud: ", status, error);
                    console.log("Detalles del error: ", xhr.responseText);
                }
            });
        }

            $('#tabla tbody').on("click", '.btn-eliminar', function () {
                 var usuarioSeleccionado = $(this).closest("tr");
                data = tabladata.row(usuarioSeleccionado).data();

                swal({
                    title: "¿Está seguro?",
                    text: "¿Desea eliminar el usuario?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: "Si!",
                    cancelButtonText: "No",
                    closeOnConfirm: false
                },
                    function () {
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");

                            eliminarUsuario(data.IdUsuario);
                    });

            });


                function eliminarUsuario(idUsuario) {
            $.ajax({
                url: '@Url.Action("EliminarUsuario", "Home")',
                type: 'POST',
                data: JSON.stringify({ idUsuario: idUsuario }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response.success) {
                        tabladata.ajax.reload();
                        console.writeline('Usuario eliminado exitosamente');
                    } else {
                        alert('Error al eliminar el usuario');
                    }
                },
                error: function () {
                    alert('Error en la solicitud');
                }
            });
        }




    </script>

}

