
@model CapaEntidad.ListaCarrito

@{
    ViewBag.Title = "Cesta";
    Layout = "~/Views/Shared/_Layout_acceso.cshtml";
}
<div class="titulo">
    <img />
    <h1>TU CESTA DE LA COMPRA</h1>
    <img src="~/iconos/lista.png" />
</div>
    <div class="ta">
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Disponible</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model.Productos)
                {
                    <tr>
                        <td>
                            <img src="@producto.RutaImagen" alt="Imagen del producto" style="width: 50px; height: 50px; object-fit: cover;" />
                        </td>
                        <td>@producto.Nombre</td>
                        <td>@producto.Precio€</td>
                        <td>
                            @if (producto.Activo)
                            {
                                <span class="badge text-bg-success">STOCK</span>
                            }
                            else
                            {
                                <span class="badge text-bg-warning">NO STOCK</span>
                            }
                        </td>
                        <td>
                            <div class="cantidad1">
                                <input type="number" id="cantidad" value="1" min="0" />
                                <div>
                                    <button onclick="btnMenos()" class="e2"><img  class="e1" src="~/iconos/boton-menos.png" /></button>
                                    <button onclick="btnMas()" class="e2"><img class="e1" src="~/iconos/agregar.png" /></button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="number" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section scripts
{

    <script>
        
        $(document).ready(function() {
            $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                //columnDefs: [
                //    { width: "20%", targets: 0 }, // Ancho de la columna Producto
                //    { width: "25%", targets: 1 }, // Ancho de la columna Nombre
                //    { width: "15%", targets: 2 }, // Ancho de la columna Precio
                //    { width: "10%", targets: 3 }, // Ancho de la columna Disponible
                //    { width: "10%", targets: 4 }, // Ancho de la columna Cantidad
                //    { width: "10%", targets: 5 }, // Ancho de la columna Total
                //    { width: "10%", targets: 6 }  // Ancho de la columna Acciones
                //],
                //fixedColumns: true
            });
        });

           
          
     
    
    </script>
}
