@model List<CapaEntidad.Producto>

@{
    ViewBag.Title = "Inicio";

    Layout = "~/Views/Shared/_Layout_tienda.cshtml";
}
<style>
    .titulo2{
        display:flex;
        justify-content:center;
        align-items:center;
    }
</style>
<div class="exp">
    <div  class="titulo2">
        <img src="~/iconos/flecha-izquierda.png" />
        <a style="color: #F5F5FD;text-decoration:none;" href="@Url.Action("Inicio","Home")">Volver a CRUD administración</a>
    </div>
    <div class="titulo">
        <h1>LET'S PLAY</h1>
        <img src="~/iconos/discos-compactos.png" />
    </div>
    <div class="titulo4" >
        <p><strong>Datos para iniciar sesion:</strong></p>
        <br />
        <p>Usuario:a@gmail.com</p>
        <p>Contraseña:00</p>
        <br />
        <p>
            También puedes crear un nuevo usuario siguiendo estos pasos:
            <br />
            1- Dirígete a la sección "Inicio de Sesión".
            <br />
            2- En el modal que aparece, haz clic en "Crear Cuenta".
           
        </p>
    </div>
</div>
<div class="contendor">

    <div class="cont1">


        @foreach (var producto in Model)
        {
            <div class="cositas">
                <p id="IdProducto" hidden>@producto.IdProducto</p>
                <p>@producto.Nombre</p>
                <img class="i1" src='@producto.RutaImagen' />
                <p>Precio:@producto.Precio€</p>
                <div class="horizontal-line"></div>
                <div class="bf">
                    <button class="btn4"><img src="~/iconos/carro-de-la-comprap.png" /></button>
                </div>
            </div>
        }


    </div>
</div>

@section scripts{
    <script>

        function AñadirListaDeseos() {


        }
    </script>

} 