
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_LayoutRegistro.cshtml";
}
<style>

    .alert-success {
        border-radius: 10px;
        width: 650px;
        height: 200px;
        transform: translate(-50%, -50%);
        background-color: #D4EFDF;
        position: absolute;
        left: 50%;
        top: 50%;
        display: none;
    }

        .alert-success p {
            font-size: 25px;
            text-align: center;
            padding-top: 15px;
            color: #196F3D;
        }

    .alert-heading {
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 10px;
        font-size: 35px;
        text-align: center;
        background-color: #D4EFDF;
        color: #196F3D;
    }
    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: spinner-border .75s linear infinite;
    }
</style>


<div class="loodo">
    <img src="~/iconos/libro.png" />
    <h1>Registro Nuevo Usuario</h1>
    <img src="~/iconos/medalla.png" />
</div>
<div class="frr">
    <p>Introduce tus datos para crear una cuenta</p>
    <form id="fr">
        <input type="hidden" id="usuarioId" />
        <input type="hidden" id="cbActivo" value="1" />
        <input type="hidden" id="reestablecer" value="1" />
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="in" required />
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" class="in" required />
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="in" required />
        <label for="clave">Contraseña</label>
        <input type="password" name="clave" id="clave" class="in" required />
        <label for="confirmar">Repetir Contraseña</label>
        <input type="password" name="confirmar" id="confirmar" class="in" required />
        <div class="box">
            <label>Acepto los terminos y condiciones.</label>
            <input type="checkbox" value="" required />
        </div>
        <div class="box">
            <label>Quiero recibir ofertas.</label>
            <input type="checkbox" value="" />
        </div>
        <input id="bu" type="submit" value="Confirmar" />
    </form>
</div>

<!-- Modal de alerta  -->
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">¡Genial!</h4>
    <p>¡Nuevo Usuario Creado Correctamente!</p>
    <br />
    <p>En unos segundos sera reedirigido a la pagina de Inicio.</p>
</div>

<!-- Spinner de carga -->
<div id="spinner" class="spinner" hidden>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $('#fr').on('submit', function (event) {
                event.preventDefault();// Evita el comportamiento por defecto del formulario

                const idUsuario = $('#usuarioId').val(); // Si tienes un campo de IdUsuario
                const nombre = $('#nombre').val();
                const apellido = $('#apellido').val();
                const email = $('#email').val();
                const clave = $('#clave').val();
                const confirmar = $('#confirmar').val();
                const activo = 1;
                const reestablecer = 1;


                // Verifica si las contraseñas coinciden
                if (clave !== confirmar) {
                    alert('Las contraseñas no coinciden');
                    return; // Sale de la función si las contraseñas no coinciden
                }

                // Construye el objeto formData
                const formData = {
                    IdUsuario: idUsuario, // Asegúrate de que este campo exista y tenga sentido en tu contexto
                    Nombres: nombre,
                    Apellidos: apellido,
                    Correo: email,
                    Clave: clave,
                    Activo: activo,
                    Reestablecer: reestablecer,

                };

                $('#spinner').show();
                // Realiza la solicitud AJAX

                var url = '@Url.Action("AgregarUsuario", "Tienda")';
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        $('#spinner').hide();
                        $('.alert').show();

                        setTimeout(function () {
                            window.location.href = '@Url.Action("Inicio", "Tienda")';
                        }, 4000);
                    },
                    error: function (error) {
                        $('#spinner').hide();
                        // Maneja los errores
                        alert(response.mensaje);
                    }
                });
            });
        })
    </script>

}
