

@{
    ViewBag.Title = "Marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Marcas</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-bookmark me-1"></i>Lista de Marcas
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" onclick="abrirModal(null)" class="btn btn-success">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Fecha Registro</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">MARCA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="IdMarca" />
                <div class="row g-2">
                    <div class="col-sm-6">
                        <div class="mb-2">
                            <img id="img_producto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProducto" accept="image/jpg, image/png, image/jpeg" onchange="mostrarImagen(this)" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-2">
                            <label for="txtdescripcion" class="form-label">Descripcion</label>
                            <input type="text" class="form-control" id="txtdescripcion">
                        </div>
                        <div class="mb-2">
                            <label for="cbActivo" class="form-label">Activo</label>
                            <select class="form-select" id="cbActivo">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div id="modalAlert" class="alert alert-danger" role="alert">
                                    A simple danger alert—check it out!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="guardarMarca()">Guardar Cambios</button>
                    </div>
                </div>
         </div>   </div>
    </div>
</div>
@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>

                 var tabladata;
         var filaSeleccionada;


          tabladata = $("#tabla").DataTable({
              responsive: true,
              ordering: false,
              "ajax": {
                  url: '@Url.Action("ListarMarca", "Mantenimiento")',
                  type: "GET",
                  dataType: "json"
              },
              "columns": [
                  { "data": "IdMarca" },
                  { "data": "Descripcion" },
                  {
                      "data": "RutaImagen",
                      "render": function (data, type, row) {
                          // Asegúrate de que la URL de la imagen está construida correctamente
                          var imageUrl = data ? data : '/path/to/default/image.jpg'; // Asegúrate de que esta ruta sea correcta
                          return '<img src="' + imageUrl + '" alt="Imagen del producto" style="width: 50px; height: 50px; object-fit: cover;" />';
                      
                      }
                  },            
                  {
                      "data": "FechaRegistro",
                      "render": function (data, type, row) {
                          console.log("Fecha original:", data); // Depuración
                          return moment(data).isValid() ? moment(data).format('DD/MM/YYYY') : "Fecha inválida";
                      }
                  },
                  {
                      "data": "Activo", "render": function (valor) {
                          if (valor) {
                              return '<span class="badge text-bg-success">SI</span>'
                          } else {
                              return '<span class="badge text-bg-warning">NO</span>'
                          }

                      }
                  },
                  {
                      "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                          '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="far fa-trash-alt"></i></button>',
                      "orderable": false,
                      "searchable": false,
                      "width": "90px"
                  }
              ],
              "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
              },
          });


            function abrirModal(data) {
                if (data != null) {
                    $('#img_producto').attr('src', data.RutaImagen);
                    $('#IdMarca').val(data.IdMarca);
                    $('#txtdescripcion').val(data.Descripcion);
                    $('#txtFecha').val(data.FechaRegistro);
                    $('#cbActivo').val(data.Activo ? '1' : '0');
                } else {
                    $('#img_producto').removeAttr('src');
                    $('#fileProducto').val('');
                    $('#IdMarca').val('');
                    $('#txtdescripcion').val('');
                    $('#txtFecha').val('');
                    $('#cbActivo').val('1');

                    $('#modalAlert').hide();
                }
                $('#modalAgregar').modal("show");
        }

        function mostrarImagen(input) {
            if (input.files) {

                var reader = new FileReader();

                reader.onload = function (e) {

                    $("#img_producto").attr("src", e.target.result).width(200).height(197)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }


        function guardarMarca() {

            var formData = new FormData();
            var insertarImagen = $('#fileProducto')[0].files[0];
            var IdMarca = $('#IdMarca').val();

            formData.append("IdMarca", IdMarca);
            formData.append("Descripcion", $('#txtdescripcion').val());
            formData.append("Activo", $('#cbActivo').val() === '1');

            // Solo agregar la imagen si se ha seleccionado una nueva
            if (insertarImagen) {
                formData.append("Imagen", insertarImagen);
            }

        var url = IdMarca ? '@Url.Action("EditarMarca", "Mantenimiento")' : '@Url.Action("AgregarMarca", "Mantenimiento")';

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.success) {
                    $('#modalAgregar').modal('hide'); 
                    alert(response.mensaje);
                    tabladata.ajax.reload(); 
                } else {
                    $('#modalAlert').text(response.mensaje);
                    $('#modalAlert').show();
                }
        },
        error: function (xhr, status, error) {
            alert('Error en la solicitud');
            console.log("Error en la solicitud: ", status, error);
            console.log("Detalles del error: ", xhr.responseText);
        }
            });
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr")
            var data = tabladata.row(filaSeleccionada).data();

            $('#txtdescripcion').val(data.Descripcion);
            $('#cbActivo').val(data.Activo ? '1' : '0');

            $('#modalAlert').hide();
            abrirModal(data);

        })

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var categoriaSeleccionada = $(this).closest("tr");
            data = tabladata.row(categoriaSeleccionada).data();

            swal({
                title: "¿Está seguro?",
                text: "¿Desea eliminar la marca?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si!",
                cancelButtonText: "No",
                closeOnConfirm: false
            },
                function () {
                    swal("Deleted!", "Your imaginary file has been deleted.", "success");

                    eliminarMarca(data.IdMarca);
                });

        });

        function eliminarMarca(IdMarca) {
    $.ajax({
        url: '@Url.Action("EliminarMarca", "Mantenimiento")',
        type: 'POST',
        data: JSON.stringify({ IdMarca: IdMarca }),
        contentType: 'application/json; charset=utf-8',
        success: function (response) {
            if (response.success) {
                tabladata.ajax.reload();
                console.log('Marca eliminada exitosamente');
            } else {
                alert('Error al eliminar la marca');
            }
        },
        error: function () {
            alert('Error en la solicitud');
        }
    });
}

    </script>
}
